<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color:red">
    My Home Page
</body>
</html> -->

{% extends 'masterfile.html' %}

{% block mybody %}

<div class="jumbotron text-center" style="background-color:aqua">

    <h1 class="display-1">Python Project</h1>
    <p class="lead">More Info</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam accusantium dolores voluptas sunt, quis nihil vero tempora alias totam illum quisquam debitis blanditiis, porro iste corrupti necessitatibus suscipit perferendis assumenda.</p>
</div>

{% endblock %}